body {
    font-family: arial, sans-serif;
}

#nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav li {
    margin: .5em;
}

a:link {
    text-decoration: none;
    font-size: 13px;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 50%;
    max-width: 272px;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25em;
    margin-top: 8em;
}

.search {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.search-box {
    display: flex;
    justify-content: center;
    padding: 0 1.1em;
    border: 1px solid #dfe1e5;
    border-radius: 1.5em;
    font-size: 1rem;
    min-height: 40px;
    width: 100%;
    margin: auto;
}

.buttons {
    margin: auto;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: .3em;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: .8rem;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

h3 {
    margin: .8em 1.25em 0;
    padding: 1.5em .8em;
    color: #d93025;
    font-size: 1.2rem;
    font-weight: inherit;
}

h4 {
    font-weight: inherit;
}

.adv-search {
    border-top: 1px solid lightgrey;
    margin: .8em 1.5em 0;
}

.row-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

p {
    font-size: .8rem;
}

.left {
    width: 40%;
    max-width: 167px;
}

.right {
    width: 69%;
}

.row-text-box {
    min-height: 1.8em;
    width: 100%;
    padding: .2em .5em;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
}

.adv-button-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.adv-button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.adv-button:hover {
    background-color: #aecbfa;
    border: 1px solid #4d90fe;
}